body {
	text-align: center;
}

h1, h2{
	font-family: Helvetica;
}

img {
	width: 13%;
	margin: 15px;
	opacity: 0.6;
	transition: 0.5s opacity ease;
}

img:hover {
	opacity: 1;
}

#results li {
	display: none;
	background-color: skyblue;
	margin: 10px auto;
	padding: 5px;
	list-style: none;
	width: 400px;
	border-radius: 4px;
	font-size: 18px;
	color: white;
	font-family: Helvetica;
}

#winner, #loser {
	opacity: 0.6;
}

#player1, #player2 {
	font-family: Helvetica;
	font-size: 15px;
}

